
// partials

@use 'variable';

$text-sm : 12px;

nav { 
    font-size: 13px;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li  { display: block; }

    a   {
        display: block;
        padding: 6px 12px;
        text-decoration: none;
    }
}

.text-ww {
    font-size: $text-sm;
}

// mixin
@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    trasform : $property
}

.box{ @include transform(rotate(30deg)); }

